@page
@model ProyectoTP.WebAPP.Pages.IndexModel
@{
    ViewData["Title"] = "Sistema de Gestion de Llamadas CallCenter";
}

<div class="container row mt-5">
    <h2 class="text-center">Sistema de Gestion de Llamadas CallCenter</h2>
</div>
