@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
</div>
<div id="tableRegClientes">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nombre Completo</th>
                <th>Ciudad</th>
                <th>Edad</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cliente in Model.listaClientes)
            {
                <tr data-id="@cliente.NumeroDocumento">
                    <td>@Html.DisplayFor(modelItem => cliente.NombreCompleto)</td>
                    <td>@Html.DisplayFor(modelItem => cliente.NombreCiudad)</td>
                    <td>@Html.DisplayFor(modelItem => cliente.Edad)</td>
                </tr>
            }
        </tbody>
    </table>
</div>
